body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.header{
    height: 70px;
    background-color: rgb(37, 202, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    border: 1px solid white;
    width: 25%;
    height: 100%;
}

.navbar{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    height: 100%;
}

.navbar .links{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar .links a{
    text-decoration: none;
    color: white;
}

.hamburger-menu{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
}

.main{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-left{
    background-color: skyblue;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
}

.rectangle{
    border: 1px solid white;
    width: 40%;
    height: 90%;
}

.main-right{
    border: 1px solid black;
    width: 40%;
    height: 60%;
}

@media (max-width: 600px){
    .navbar{
        display: none;
    }
    
    .hamburger-menu{
        display: flex;
        padding: 5px;
        justify-content: center;
        margin-right: 30px;
        box-shadow: 1px 1px 3px rgb(105, 104, 104);
    }
    .navbar.show{
        display: flex;
    }
    .navbar .links{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.966);
        position: absolute;
        right: 0;
        top: 70px;
        width: 50%;
        height: 400px;
    }
    .navbar .links a{
        padding: 10px;
        border-bottom: 1px solid rgb(100, 100, 100);
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-family: serif;
        font-size: 20px;
        height: 30px;
        width: 100px;
    }
    .main{
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main-left{
        width: 90%;
        flex-direction: column;
    }
    .main-left .rectangle{
        width: 100%;
    }
    .main-right{
        width: 80%;
    }
}